
<div id="particles-js">
		<div class="login" style="top: {{Login_top}}">
			<div class="login-top">
				登录
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="assets/images/name.png"/></div>
				<div class="login-center-input">
					<input type="text"  #txtUserName [(ngModel)]="userName" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
					<div class="login-center-input-text">用户名</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="assets/images/password.png"/></div>
				<div class="login-center-input">
					<input type="password"  [(ngModel)]="userPass" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
					<div class="login-center-input-text">密码</div>
				</div>
			</div>
			<div class="login-button" (click)="login()">
				登录
			</div>
		</div>
		<div class="sk-rotating-plane"></div>	
</div>